---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}

	<!-- begin container -->
	<div class="container">
		<hr class="hr">
		<!-- begin content -->
		<div class="content clear-fix">
			<!-- begin left__content -->
			<div class="left__content">
				<!-- begin sidebar__menu -->
				<div class="sidebar__menu">
					
				</div>
				<!-- end sidebar__menu -->
				<!-- begin sidebar__down__menu -->
				<div class="sidebar__down__menu">
					
				</div>
				<!-- end sidebar__down__menu -->
			</div>
			<!-- end left__content -->
			<!-- begin right__content -->
			<div class="right__content">
				<!-- begin main__info__block -->
				<div class="main__info__block">
				</div>
				<!-- end main__info__block -->
				<!-- begin gallery -->
				<div class="gallery">
					<div class="item__gallery"></div>
					<div class="item__gallery"></div>
					<div class="item__gallery"></div>
					<div class="item__gallery"></div>
					<div class="item__gallery kostil"></div>
					<div class="item__gallery"></div>
					<div class="item__gallery"></div>
				</div>
				<!-- end gallery -->
				<!-- begin double__content -->
				<div class="double__content">
					<div class="left__content1">
						
					</div>
					<div class="right__content1">
						
					</div>
				</div>
				<!-- end double__content -->
			</div>
			<!-- end right__content -->
		</div>
		<!-- end content -->
		<hr class="hr">
	</div>
	<!-- end container -->
{% include "partials/_footer.html" %}


{% endblock %}
