<!-- begin container -->
<div class="container">
	<!-- begin footer -->
	<footer class="clear-fix">
		<!-- begin footer__left__content -->
		<div class="footer__left__content">
			<div class="list__block">

			</div>
			<div class="list__block2">
				
			</div>
		</div>
		<!-- end footer__left__content -->
		<!-- begin footer__right__content -->
		<div class="footer__right__content">
			<div class="upper__content"></div>
			<div class="lower__content"></div>
		</div>
		<!-- end footer__right__content -->
	</footer>
	<!-- end footer -->
</div>
<!-- end container -->