<!-- begin container -->
<div class="container">
	<!-- begin header -->
	<header class="clear-fix">
		<!-- begin left__header__block -->
		<div class="left__header__block block">
		</div>
		<!-- end left__header__block -->
		<!-- begin center__header__block -->
		<div class="center__header__block block">
		</div>
		<!-- end center__header__block -->
		<!-- begin right__header__block -->
		<div class="right__header__block">
			<p class="p__header">Suprun test task</p>
		</div>
		<!-- end right__header__block -->
	</header>
	<!-- end header -->
</div>
<!-- end container -->